@mixin flex($direccion, $justify, $align, $wrap) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

.footer {
    
    @include flex(row, space-between, center, nowrap);
    
    padding: 30px;

    background-color: $colorSecundario;
    color: white;

    padding-top: 20px ;
    padding-left: 15px;

    

    .footer__redes {

        display: inline-block;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;

        list-style: none;

        text-decoration: none;
        padding: 1rem;
        margin: 1rem;
    }

    
}

$redes: (
    facebook: blue ,
    instagram:  red,
    mail: #c25e30,
    );
    
    @each $red, $color in $redes {
        .footer__redes--#{$red} {
            padding: 5px;
            // background-color: $color;
        }
        
    }
    
    
@media (max-width: 640px) {
    .footer{
        flex-direction: column;
    }
    
}
