@mixin flex($direccion, $justify, $align, $wrap) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

.footer {
    
    @include flex(row, space-between, center, nowrap);
    
    padding: 30px;

    background-color: $colorSecundario;
    color: white;

    padding-top: 20px ;
    padding-left: 15px;

    

    .footer__redes {
        text-decoration: none;
        padding: 5px;
    }
}

$redes: (
    facebook: #3a5795 ,
    instagram:  #55acee,
    mail: #c25e30,
);

@each $red, $color in $redes {
    .footer__redes--#{$red} {
        padding: 10px;
        background-color: $color;
    }
    
}