@mixin flex($direccion, $justify, $align, $wrap) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

.footer {
    
    @include flex(row, space-between, center, nowrap);
    
    padding: 30px;

    background-color: $colorSecundario;
    color: white;

    padding-top: 20px ;
    padding-left: 15px;

    a {
        text-decoration: none;
        color: white;
    }

    .footer__redes {
        
        display: inline-block;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        
        list-style: none;
        
        text-decoration: none;
        padding: 5px;
        margin: 1rem;
        
        li{
            a{

                .footer__redes--instagram {
                    padding: 5px;
                    text-decoration: none;
                    color: white;
                }
                .footer__redes--facebook{
                    padding: 5px;
                    text-decoration: none;
                    color: white;
                }
                .footer__redes--linkedin{
                    padding: 5px;
                    text-decoration: none;
                    color: white;
                }
                .footer__redes--mail{
                    padding: 5px;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    
}


    
    
@media (max-width: 640px) {
    .footer{
        flex-direction: column;
    }
    
}
