.producto__body {
    display: flex;

    .producto__listacategorias{
        width: 900px;

        .list-group-item{
        
            &:focus {
                color: $colorSecundario;
                background-color: $colorTerciario ;
            }
            &:hover {
                transition: 0.7s;
                background-color: $colorTerciario ;
        }


    }

    .producto__categorias{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        
        margin: 5px;
        margin-left: 0px;

        .card {
            margin: 5px;
            list-style: none;
        
        .producto__boton--compra {

            background-color: grey;
        
            border: $colorTerciario;
        
            margin-right: 2rem;
        
            &:hover {
                transition: 0.7s;
                background-color: $colorTerciario ;
            }
        }
        }
    }
    }
}

@media (max-width: 1140px) {
    .producto__body {
        display: flex;
    
        .producto__categorias {
        grid-template-columns:  1fr 1fr;
        grid-template-rows: auto;
        }
    }
}

@media (max-width: 840px) {
    .producto__body {
        display: flex;
    
    .producto__categorias {
        grid-template-columns:  1fr ;
        grid-template-rows: auto;
        }
    }
}


@media (max-width: 540px) {
    .producto__body {
        display: flex;

        .producto__listacategorias{
            display: inline-block;
            width: 900px;
            margin-bottom: 5px;

            .producto__categorias {
                grid-template-columns:  1fr ;
                grid-template-rows: auto;
                }
            }

        }
    
}
