* {
  margin: 0;
  padding: 0;
}

html {
  font-weight: 62, 5%;
}

body {
  background-image: linear-gradient(to left, white, grey);
}

.inicio__textos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.inicio__textos .inicio__texto1 {
  width: 80%;
  align-items: center;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.inicio__textos .inicio__texto1 h1 {
  text-align: center;
  margin-bottom: 7px;
  border-bottom: 3px;
}
.inicio__textos .inicio__texto2 {
  width: 80%;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.inicio__textos .inicio__texto2 h2 {
  text-align: center;
  margin-bottom: 7px;
  border-bottom: 3px;
}

.enlaces-nav li a {
  margin: 0.5;
  transition: all 1s;
}
.enlaces-nav li a:hover {
  color: black;
  background-color: grey;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 30px;
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-left: 15px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer .footer__redes {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  text-decoration: none;
  padding: 5px;
  margin: 1rem;
}
.footer .footer__redes .footer__redes--instagram {
  padding: 5px;
  text-decoration: none;
  color: white;
}
.footer .footer__redes .footer__redes--facebook {
  padding: 5px;
  text-decoration: none;
  color: white;
}
.footer .footer__redes .footer__redes--linkedin {
  padding: 5px;
  text-decoration: none;
  color: white;
}
.footer .footer__redes .footer__redes--mail {
  padding: 5px;
  text-decoration: none;
  color: white;
}

@media (max-width: 914px) {
  .footer {
    flex-direction: column;
  }
}
.html {
  -webkit-animation: aparecer 1s;
          animation: aparecer 1s;
}
@-webkit-keyframes aparecer {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes aparecer {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.header__logo:hover {
  -webkit-animation: girar 2s linear;
          animation: girar 2s linear;
}
@-webkit-keyframes girar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes girar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.galeriaproductos .imagen:hover {
  transition: 0.5s;
  transform: scale(1.5);
}

.producto__body {
  display: flex;
}
.producto__body .producto__listacategorias {
  width: 900px;
}
.producto__body .producto__listacategorias .list-group-item:focus {
  color: black;
  background-color: gold;
}
.producto__body .producto__listacategorias .list-group-item:hover {
  transition: 0.7s;
  background-color: gold;
}
.producto__body .producto__listacategorias .producto__categorias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 5px;
  margin-left: 0px;
}
.producto__body .producto__listacategorias .producto__categorias .card {
  margin: 5px;
  list-style: none;
}
.producto__body .producto__listacategorias .producto__categorias .card .producto__boton--compra {
  background-color: grey;
  border: gold;
  margin-right: 2rem;
}
.producto__body .producto__listacategorias .producto__categorias .card .producto__boton--compra:hover {
  transition: 0.7s;
  background-color: gold;
}

@media (max-width: 1410px) {
  .producto__body {
    display: flex;
  }
  .producto__body .producto__listacategorias {
    width: 800px;
  }
  .producto__body .producto__listacategorias .list-group-item:focus {
    color: black;
    background-color: gold;
  }
  .producto__body .producto__listacategorias .list-group-item:hover {
    transition: 0.7s;
    background-color: gold;
  }
  .producto__body .producto__listacategorias .producto__categorias {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .producto__body .producto__listacategorias .producto__categorias .card {
    margin: 5px;
    list-style: none;
  }
  .producto__body .producto__listacategorias .producto__categorias .card .producto__boton--compra {
    background-color: grey;
    border: gold;
    margin-right: 2rem;
  }
  .producto__body .producto__listacategorias .producto__categorias .card .producto__boton--compra:hover {
    transition: 0.7s;
    background-color: gold;
  }
}
@media (max-width: 1140px) {
  .producto__body {
    display: flex;
  }
  .producto__body .producto__listacategorias {
    width: 800px;
  }
  .producto__body .producto__listacategorias .list-group-item:focus {
    color: black;
    background-color: gold;
  }
  .producto__body .producto__listacategorias .list-group-item:hover {
    transition: 0.7s;
    background-color: gold;
  }
  .producto__body .producto__listacategorias .producto__categorias {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .producto__body .producto__listacategorias .producto__categorias .card {
    margin: 5px;
    list-style: none;
  }
  .producto__body .producto__listacategorias .producto__categorias .card .producto__boton--compra {
    background-color: grey;
    border: gold;
    margin-right: 2rem;
  }
  .producto__body .producto__listacategorias .producto__categorias .card .producto__boton--compra:hover {
    transition: 0.7s;
    background-color: gold;
  }
}
@media (max-width: 840px) {
  .producto__body {
    display: flex;
  }
  .producto__body .producto__listacategorias {
    display: inline-block;
    width: 100%;
  }
  .producto__body .producto__listacategorias .list-group-item:focus {
    color: black;
    background-color: gold;
  }
  .producto__body .producto__listacategorias .list-group-item:hover {
    transition: 0.7s;
    background-color: gold;
  }
  .producto__body .producto__listacategorias .producto__categorias {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .producto__body .producto__listacategorias .producto__categorias .card {
    margin: 5px;
    list-style: none;
  }
  .producto__body .producto__listacategorias .producto__categorias .card .producto__boton--compra {
    background-color: grey;
    border: gold;
    margin-right: 2rem;
  }
  .producto__body .producto__listacategorias .producto__categorias .card .producto__boton--compra:hover {
    transition: 0.7s;
    background-color: gold;
  }
}
@media (max-width: 840px) {
  .producto__body {
    display: flex;
  }
  .producto__body .producto__listacategorias {
    display: inline-block;
  }
  .producto__body .producto__listacategorias .col-3 {
    width: 100%;
    margin-bottom: 5px;
    padding-left: 1rem;
  }
  .producto__body .producto__listacategorias .list-group-item:focus {
    color: black;
    background-color: gold;
  }
  .producto__body .producto__listacategorias .list-group-item:hover {
    transition: 0.7s;
    background-color: gold;
  }
  .producto__body .producto__listacategorias .producto__categorias {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .producto__body .producto__listacategorias .producto__categorias .card {
    margin: 5px;
    list-style: none;
  }
  .producto__body .producto__listacategorias .producto__categorias .card .producto__boton--compra {
    background-color: grey;
    border: gold;
    margin-right: 2rem;
  }
  .producto__body .producto__listacategorias .producto__categorias .card .producto__boton--compra:hover {
    transition: 0.7s;
    background-color: gold;
  }
}
.nosotros__listacartas {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
}
.nosotros__listacartas .nosotros__sobrenosotros {
  display: flex;
  align-items: center;
  margin: 1rem;
  width: 100%;
  flex-direction: row;
  margin-left: 9.5rem;
  margin-right: 9.5rem;
}
.nosotros__listacartas .nosotros__sobrenosotros .sobrenosotros__carta {
  padding: 5px;
  margin: 5px;
  width: 500px;
  height: 225px;
}

.nosotros__textos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-items: center;
}
.nosotros__textos .nosotros__texto1 {
  display: inline-block;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 1rem;
}
.nosotros__textos .nosotros__texto1 h2 {
  text-align: center;
  margin-bottom: 7px;
  border-bottom: 3px;
}
.nosotros__textos .nosotros__texto2 {
  width: 80%;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-items: center;
  padding: 1rem;
}
.nosotros__textos .nosotros__texto2 h3 {
  text-align: center;
  margin-bottom: 7px;
  border-bottom: 3px;
}

@media (max-width: 1170px) {
  .nosotros__listacartas {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    justify-items: center;
  }
  .nosotros__listacartas .nosotros__sobrenosotros {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
  }
  .nosotros__listacartas .nosotros__sobrenosotros .sobrenosotros__carta {
    padding: 5px;
    margin: 5px;
    width: 500px;
    height: 225px;
  }
}
@media (max-width: 980px) {
  .nosotros__listacartas {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
  }
  .nosotros__listacartas .nosotros__sobrenosotros {
    display: flex;
    align-items: center;
    margin: 1rem;
    width: 100%;
    flex-direction: column;
    margin-left: 1rem;
  }
  .nosotros__listacartas .nosotros__sobrenosotros .sobrenosotros__carta {
    padding: 5px;
    margin: 5px;
    width: 500px;
    height: 225px;
  }
}
@media (max-width: 375px) {
  .nosotros__listacartas {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  .nosotros__listacartas .nosotros__sobrenosotros {
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    flex-direction: column;
  }
  .nosotros__listacartas .nosotros__sobrenosotros .sobrenosotros__carta {
    padding: 0;
    margin-top: 5px;
    width: 260px;
    height: 200px;
  }
}
.benchmark__textos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
}
.benchmark__textos .benchmark__texto1 {
  width: 80%;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 2rem;
  margin-bottom: 0;
  padding: 1rem;
}
.benchmark__textos .benchmark__texto1 h2 {
  text-align: center;
  margin-bottom: 7px;
  border-bottom: 3px;
}

.benchmark__acordeon {
  width: 80%;
  align-items: center;
  text-align: center;
  margin-left: 5rem;
}
.benchmark__acordeon .accordion {
  margin-top: 1rem;
}
.benchmark__acordeon .accordion .accordion-item .accordion-header {
  display: flex;
}
.benchmark__acordeon .accordion .accordion-item .accordion-header .accordion-button {
  color: black;
  text-align: center;
  align-content: center;
  align-items: center;
}
.benchmark__acordeon .accordion .accordion-item .accordion-header .accordion-button:focus {
  background-color: gold;
}
.benchmark__acordeon .accordion .accordion-item .accordion-header .accordion-button:hover {
  transition: 0.7s;
  background-color: gold;
}
.benchmark__acordeon .accordion .accordion-item .benchmark__banner--boton img {
  box-shadow: 2px 2px 2px 2px black;
  width: 60%;
  margin-top: 1rem;
}
.benchmark__acordeon .accordion .accordion-item .benchmark__banner--boton img:hover {
  translate: scale(10rem);
}

@media (max-width: 500px) {
  .benchmark__textos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
  }
  .benchmark__textos .benchmark__texto1 {
    width: 80%;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-bottom: 0;
    padding: 1rem;
  }
  .benchmark__textos .benchmark__texto1 h2 {
    text-align: center;
    margin-bottom: 7px;
    border-bottom: 3px;
  }

  .benchmark__acordeon {
    width: 80%;
    align-items: center;
    text-align: center;
    margin-left: 1rem;
  }
  .benchmark__acordeon .accordion {
    margin-top: 1rem;
  }
  .benchmark__acordeon .accordion .accordion-item .accordion-header {
    display: flex;
  }
  .benchmark__acordeon .accordion .accordion-item .accordion-header .accordion-button {
    color: black;
    text-align: center;
    align-content: center;
    align-items: center;
  }
  .benchmark__acordeon .accordion .accordion-item .accordion-header .accordion-button:focus {
    background-color: gold;
  }
  .benchmark__acordeon .accordion .accordion-item .accordion-header .accordion-button:hover {
    transition: 0.7s;
    background-color: gold;
  }
  .benchmark__acordeon .accordion .accordion-item .benchmark__banner--boton img {
    box-shadow: 2px 2px 2px 2px black;
    width: 60%;
    margin-top: 1rem;
  }
}
.contacto__banner--principal {
  width: 100%;
  height: 600px;
  background-image: url("..//Imagenes/img_NVIDIA_portatil.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10%;
  margin-bottom: 0px;
}

.formulario {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
  border-radius: 10px;
}
.formulario .formulario__contacto {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.formulario .formulario__contacto h3 {
  text-align: left;
  width: 100px;
  margin: 20px 0;
  border-bottom: orangered 2px solid;
}
.formulario .formulario__contacto .formulario__input .formulario__contacto textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
}
.formulario .formulario__contacto .formulario__input .formulario__boton--enviar:hover {
  transition: 0.7s;
  background-color: gold;
}

textarea {
  resize: none;
}

.efectoimagen {
  width: 30rem;
}

@media (max-width: 468px) {
  .formulario {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 10px;
  }
  .formulario .formulario__contacto {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .formulario .formulario__contacto h3 {
    text-align: left;
    width: 100px;
    margin: 20px 0;
    border-bottom: orangered 2px solid;
  }
  .formulario .formulario__contacto .formulario__input .formulario__contacto textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
  }
  .formulario .formulario__contacto .formulario__input .formulario__boton--enviar:hover {
    transition: 0.7s;
    background-color: gold;
  }
}/*# sourceMappingURL=styles.css.map */